@import url('https://fonts.bunny.net/css?family=inter:200,300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .text-gradient {
    background: -webkit-linear-gradient(
      30deg,
      theme('colors.blue.400'),
      theme('colors.green.500')
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply relative inline-block;
  }

  .text-gradient::after {
    content: '';
    display: block;
    position: absolute;
    left: -10%;
    bottom: -2.75rem;
    height: 100%;
    width: 120%;
    @apply bg-cover bg-no-repeat bg-charcoal dark:bg-white;
    -webkit-mask: url('~~/assets/img/excalidraw/underline.svg') no-repeat;
    mask: url('~~/assets/img/excalidraw/underline.svg') no-repeat;
    mask-size: 100% auto;
  }
}

@layer utilities {
  .dark .bg-gb-gradient {
    background-image: linear-gradient(
        to bottom,
        theme('colors.charcoal.800') 0%,
        transparent 40%,
        transparent 60%,
        theme('colors.charcoal.800') 100%
      ),
      linear-gradient(to right, rgba(20, 204, 96, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(20, 204, 96, 0.2) 1px, transparent 1px);
    background-size: 100% 100%, 40px 40px, 40px 40px;
  }

  .shadow-default-sm {
    @apply shadow-sm dark:shadow-smHeavy;
  }
  .shadow-default {
    @apply shadow-lg dark:shadow-lgHeavy;
  }

  .bg-gb-gradient {
    background-image: linear-gradient(
        to right,
        rgba(20, 204, 96, 0.2) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(20, 204, 96, 0.2) 1px, transparent 1px);
    background-size: 20px 20px;
    margin-bottom: 20px;
  }

  .dot-grid-green {
    background-image: radial-gradient(
      theme('colors.green.500' / 30%) 2px,
      transparent 0
    );
    background-size: 20px 20px;
    background-position: -8px -8px;

    /* clip-path: polygon(40% 0, 62% 0, 100% 100%, 0% 100%); */
  }

  .bg-default {
    @apply bg-white dark:bg-charcoal-800;
  }
  .text-default {
    @apply text-charcoal-500  dark:text-charcoal-100;
  }

  .bg-highlight {
    @apply bg-gray-100 dark:bg-charcoal-600;
  }

  .bg-background {
    @apply bg-gray-100 dark:bg-charcoal-700;
  }

  .text-highlight {
    @apply text-charcoal dark:text-white;
  }

  .fill-highlight {
    @apply fill-charcoal dark:fill-white;
  }

  .stroke-highlight {
    @apply stroke-charcoal dark:stroke-white;
  }

  .drop-green {
    box-shadow: 0.5rem 0.5rem 0px 0px rgba(0, 0, 0, 0.1);
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-family: Inter, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}

@font-face {
  font-family: 'Virgil';
  src: url('https://excalidraw.com/Virgil.woff2');
}
@font-face {
  font-family: 'Cascadia';
  src: url('https://excalidraw.com/Cascadia.woff2');
}

:root {
  color-scheme: dark;
}

dialog {
  @apply text-inherit;
}

html {
  --base-bg: #ffffff;
}
html.dark {
  color-scheme: dark;
  --base-bg: #15181e;
}

.target:target {
  scroll-margin-top: 80px !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-highlight font-semibold;
} */

input:-internal-autofill-selected {
  @apply bg-highlight !important;
}

button:focus-visible,
a:focus-visible {
  @apply text-highlight underline;
}

.article > p,
.article > ul,
.article > ol,
.article > blockquote,
.article > info {
  @apply my-6 leading-7;
  @apply text-charcoal-700 dark:text-gray-100;
}

.article > ul li {
  @apply mt-2;
}

.article > p > strong {
  @apply text-charcoal-800 dark:text-gray-50;
}

.article > h1:target,
.article > h1:target,
.article > h2:target,
.article > h3:target,
.article > h4:target,
.article > h5:target {
  scroll-margin-top: 5rem;
}

.article > p > a {
  @apply text-charcoal-900 dark:text-white font-medium;
}

.article > p > a:not(a.bg-green):not(a.no-underline) {
  @apply border-green hover:border-b-2 border-b;
}

.article strong,
.article b {
  @apply font-semibold text-charcoal dark:text-white;
}

.article > h2:not(article .toc h2),
.article > h3,
.article > h4,
.article > h5 {
  @apply font-semibold text-xl mt-8 pt-8;
}

.article > h2 {
  @apply mt-16 pt-16;
}

.article > h2 + h3 {
  @apply mt-0;
}

.article > h2:not(article .toc h2) {
  @apply border-t border-charcoal-600 dark:border-charcoal-300 border-opacity-50 dark:border-opacity-50 text-3xl;
}

.article > p > code,
.article > ul code,
.article > h2 code,
.article > h3 code {
  @apply whitespace-nowrap font-normal text-sm text-green-500 dark:text-green-200 border dark:border-charcoal-500 px-2 py-[2px] rounded bg-gray-100 dark:bg-charcoal-900 !important;
}

.article > h2 > a code {
  @apply text-2xl !important;
}

.article > ul {
  @apply list-disc pl-8;
}

.article > ol {
  @apply list-decimal pl-8;
}

.article > ol ol {
  @apply list-[lower-alpha];
}

article img:not(#article-info img) {
  @apply mx-auto rounded;
}

/* we will explain what these classes do next! */
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.sleft-enter-active,
.sleft-leave-active,
.sright-enter-active,
.sright-leave-active {
  transition: opacity 0.15s ease-out, transform 0.21s ease-out;
}

.sleft-enter-from,
.sright-leave-to {
  opacity: 0;
  transform: translateX(50px);
}
.sleft-leave-to,
.sright-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.icon-enter-active,
.icon-leave-active {
  transition: transform 0.1s ease;
}

.icon-enter-from,
.icon-leave-to {
  transform: scale(0.8);
}

.bg-gradient-blue {
  background: rgb(71, 207, 255);
  background: linear-gradient(
    144deg,
    rgba(71, 207, 255, 0.75) 0%,
    rgba(93, 211, 252, 0.75) 100%
  );
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
